@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

body {
    background: linear-gradient(to bottom right, #2d294f 0%, #4b4b4b 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 99%;
}

.main {
    position: relative;
    padding-top: 1px;
    width: clamp(200px, 50%, 220px);
    min-height: 300px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgb(255, 255, 255, 0);
}

.main h1 {
    color: rgb(255, 255, 255, 0.7);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #23203b;
}

button {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #27AE60;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 0;
    border-radius: 3px;
    color: lighten(#27AE60, 40%);
    border-bottom: 4px solid darken(#27AE60, 10%);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 255, 255, 0.7);
    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
    background-color: #2ebb69;
    transform: translateY(-3px);
}

form {
    margin: 0;
    display: grid;
    place-items: center;
    justify-content: space-evenly;
    gap: 10px;
    grid-template-columns: 220px;
    grid-template-rows: 21px 21px 40px 21px 21px 21px;
}

input {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: rgb(255, 255, 255, 0.5);
    background-color: rgb(255, 255, 255, 0);
    outline: none;
    border: none;
}

.main i {
    position: relative;
    color: rgb(255, 255, 255, 0.2);
}

#user-icon {
    transform: translate(-775%, -1120%);
}

#pwd-icon {
    transform: translate(-950%, -970%);
}

a {
    color: rgb(255, 255, 255, 0.7);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255, 0.85);;
}

#error {
    color: rgba(255, 113, 113);
}
