@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

body {
    background: linear-gradient(to bottom right, #2d294f 0%, #4b4b4b 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 99%;
}

.main {
    padding-top: 1px;
    width: 230px;
    height: 250px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgb(255, 255, 255, 0);
}

.main h1 {
    color: rgb(255, 255, 255, 0.7);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #23203b;
}

button {
    margin-top: 40px;
    background: #27AE60;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: lighten(#27AE60, 40%);
    border-bottom: 4px solid darken(#27AE60, 10%);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 255, 255, 0.7);
    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
    background-color: #2ebb69;
    transform: translateY(-3px);
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    color: rgb(255, 255, 255, 0.5);
    height: 20px;
    background-color: rgb(255, 255, 255, 0);
    outline: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    border-bottom: none;
}

input[name=cPwd] {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.main i {
    position: absolute;
    color: rgb(255, 255, 255, 0.2);
}

#fName-icon {
    top: 28.5%;
    left: 44.2%;
}

#lName-icon {
    top: 32.8%;
    left: 44.2%;
}

#userName-icon {
    top: 37.1%;
    left: 44.2%;
}

#pwd-icon {
    top: 41.4%;
    left: 44.25%;
}

#cPwd-icon {
    top: 45.8%;
    left: 44.25%;
}



a {
    color: rgb(255, 255, 255, 0.7);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255, 0.85);;
}

#error {
    color: rgba(255, 113, 113);
}

/** 
* Radio Buttons
*/

p {
    color: rgb(255, 255, 255, 0.7);
}
  
form input[name=display] {
position: absolute !important;
clip: rect(0, 0, 0, 0);
height: 1px;
width: 1px;
background: rgb(255, 255, 255, 0);
}

label {
background: rgb(255, 255, 255, 0);
font-size: 1em;
text-align: center;
padding: 0.5em 2em;
border: 2px solid grey;
color: grey
}

label:hover {
cursor: pointer;
}

input#radioYes:checked+label {
background-color: grey;
color: white;
}

input#radioNo:checked+label {
background-color: grey;
color: white;
}
